.slides-container {
	position: absolute;
	background-color: #201e1c;
}
.feature-slide {
	background-color: #201e1c;
}
/*========================================
=            typo/description            =
========================================*/

.head_subline_home h1 {
	font-weight: 600;
	font-size: 42px;
	line-height: 55px;
	color: #FFF;
	margin: 110px 0px 0px 150px;
	width: 680px;
	letter-spacing: 0.5px;
}
.head_subline_home h2 {
	font-weight: 200;
	font-size: 32px;
	line-height: 42px;
	color: #FFF;
	margin: 12px 0 -3px 150px;
	width: 680px;
	letter-spacing: 1px;
}

.feature-slide h1 {
	font-weight: 600;
	font-size: 42px;
	line-height: 55px;
	color: #FFF;
	margin: 110px 0px 0px 150px;
	width: 680px;
	letter-spacing: 0.5px;
}

.feature-slide h1 > img {
	width: 56px;
	height: 56px;
	margin: 0px 0 0 -82px;
	position: absolute;
}

.feature-slide h2 {
	font-weight: 200;
	font-size: 32px;
	line-height: 42px;
	color: #FFF;
	margin: 12px 0 -3px 150px;
	width: 680px;
	letter-spacing: 1px;
}

.feature-slide p {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #FFF;
	margin: 17px 0 0 150px;
	width: 660px;
	letter-spacing: 0.5px;
}

.feature-slide div.more-button {
	width: 298px;
	height: 38px;
	margin: 80px 0 0 150px;
	background-color: #e20512;
	display: flex;
	align-content: center;
	justify-content: center;
	font-size: 12px;
	letter-spacing: 1.9px;

}

.feature-slide div.more-button > span {
	color: #FFF;
	align-self: center;
	pointer-events: none;
}

/*=========================================
=            slides background            =
=========================================*/

.feature-slide-1-1 {
	width: 998px;
	height: 1080px;
	background-image: url(../_img/bg_feature_1_1.jpg);
}
.feature-slide-1-2 {
	width: 998px;
	height: 1080px;
	background-image: url(../_img/bg_featureOverall.jpg);
}

.feature-slide-2-1 {
	width: 998px;
	height: 1080px;
	background-image: url(../_img/bg_feature_2-2.jpg);
}
.feature-slide-2-2 {
	width: 998px;
	height: 1080px;
	background-image: url(../_img/bg_feature_2-1.jpg);
}

.swipebounds_features {
	width: 998px;
	height: 1080px;
	left: 922px;
}

.feature-slide-3 {
	background-image: url(../_img/bg_feature_3.jpg);
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	transition: background 0.5s linear;
}

.feature-slide-4 {
	background-image: url(../_img/bg_feature_4_1.jpg);
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	transition: background 0.5s linear;
}

.feature-slide-5 {
	background-image: url(../_img/bg_feature_5.jpg);
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	transition: background 0.5s linear;
}

.feature-slide-6 {
	background-image: url(../_img/bg_feature_6.jpg);
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	transition: background 0.5s linear;
}

/*=====================================
=            SVG animation            =
=====================================*/

#svg-circ-animation {
	position: absolute;
	pointer-events: none;
}

/*========================================
=            feature video               =
========================================*/

.play-btn {
	background-image: url('../_img/play_button.svg');
	width: 60px;
	height: 60px;
	position: absolute;
	left: 1390px;
	top: 510px;
}

.play-btn-thumb {
	width: 502px;
	height: 356px;
	position: absolute;
	left: 1501px;
	top: -65px;
}

.play-btn-1 {background-image: url('../_img/slide-1-video-button.png');}
.play-btn-2 {background-image: url('../_img/slide-2-video-button.png');}
.play-btn-3 {background-image: url('../_img/slide-3-video-button.png');}
.play-btn-4 {background-image: url('../_img/slide-1-video-button.png');}
.play-btn-5 {background-image: url('../_img/slide-1-video-button.png');}
.play-btn-6 {background-image: url('../_img/slide-1-video-button.png');}

#video-overlay {
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 1920px;
	height: 1080px;
}

#close-button {
	width: 44px;
	height: 44px;
	position: absolute;
	top:  50px;
	right: 50px;
}

.q-vid {
	position: absolute;
	width: 998px;
	height: 1080px;
	top: 0;
	left: 922px;
}


/*========================================
=            accordion menu              =
========================================*/

.cross_reference{
	font-family: MHelveticaNeue;
    font-weight: 200;
    font-style: normal;
    font-size: 26px;
    line-height: 40px;
}

.accordion-menu {
	width: 922px;
	height: auto;
	min-height: 708px;
	position: absolute;
	top: 292px;
	left: 0;
	overflow: hidden;
	box-sizing: border-box;
	overflow: hidden;
}
.accordion-menu .list-position.collapsed {
	display: inline-block;
	height: 85px;
	width: 100%;
	color: #a9a9a8;
	padding-left: 146px;
	font-size: 22px;
	line-height: 40px;
	border-top: 1px solid #373533;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}
.accordion-menu .list-position.expanded {
	display: inline-block;
	min-height: 85px;
	width: 100%;
	color: #a9a9a8;
	padding-left: 146px;
	font-size: 22px;
	line-height: 40px;
	border-top: 1px solid #373533;
	box-sizing: border-box;
	
	position: relative;
	background: #373533;
	transition: all 0.5s linear;
}
.accordion-menu .list-position.collapsed .accordion-content {
	display: block;
	visibility: hidden;
	box-sizing: border-box;
}
.accordion-menu .list-position.expanded .accordion-content {
	color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 26px;
    margin-top: 7px;
    margin-bottom: 25px;
    font-weight: 400;
    width: 75%;
}
.first_line{
	color: #a7a7a7;
	font-family: MHelveticaNeue;
    font-weight: 200;
    font-size: 22px;
    font-style: normal;
    line-height: 36px;
}
.text_with_star{
	color: #a7a7a7;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 26px;
    margin-bottom: 25px;
    font-weight: 200;
    width: 75%;
}
.accordion-menu .list-position:last-of-type {
	border-bottom: 1px solid #373533;
}
.accordion-menu .list-position.collapsed .accordion-header {
	display: block;
	vertical-align: middle;
	margin-top: 22px;
	box-sizing: border-box;
	letter-spacing: 0.2px;
	
}
.accordion-menu .list-position.expanded .accordion-header {
	display: block;
	vertical-align: middle;
	margin-top: 22px;
	box-sizing: border-box;
	letter-spacing: 0.2px;
	color: #ff0009;
	
}
.accordion-menu .accordion-progress-bar {
	width: 5px;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	background: #03a2bf;
	box-sizing: border-box;
}
.accordion-menu .list-position svg {
	position: absolute;
	left: 755px;
	top: 35px;
    width: 24px;
    height: 15px;
	

}

/* feature 3 */


.feature-slide-3 .accordion-menu .list-position.collapsed .accordion-content {
	display: block;
	visibility: hidden;
	box-sizing: border-box;
}
.feature-slide-3 .accordion-menu .list-position.expanded .accordion-content {
	color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 26px;
    margin-top: 7px;
    margin-bottom: 13px;
    font-weight: 400;
    width: 75%;
}

