/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

body {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;    
    cursor: crosshair; 
    -ms-touch-action: none;
	background: #000000;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

/*///////////////////////////////////////////////////////FONTS*/

@font-face {
    font-family: MHelveticaNeue;
    src: url(../_fonts/HelveticaNeueLTStd-Md.otf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: MHelveticaNeue;
    src: url(../_fonts/HelveticaNeueLTStd-Roman.otf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: MHelveticaNeue;
    src: url(../_fonts/HelveticaNeueLTStd-Lt.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: MHelveticaNeue;
    src: url(../_fonts/HelveticaNeueLTStd-UltLt.otf);
    font-weight: 200;
    font-style: normal;
}



/*///////////////////////////////////////////////////////GENERAL*/


.bE{
    position: absolute;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
    left:0;
    top:0;
}

.overflowOK {
    overflow: visible;
}

/*///////////////////////////////////////////////////////HOME*/

#app-container {
	overflow: hidden;
	font-family: MHelveticaNeue; 
	font-style: normal;
    font-weight: 500;
	
	top: 50%;
	transform: translateY(-50%);
}
.app-dimensions {
	position: absolute;
	width: 1920px;
	height: 1080px;
}

#home-container {
    position: absolute;
}

/*///////////////////////////////////////////////////////SEPARATOR*/

#separator_home, #separator_f1, #separator_f2{
    width: 70px;
    height: 1080px;
    cursor: e-resize!important;
}
.separator_button{
    width: 70px;
    height: 70px;
    top: 850px;
    background-image: url("../_img/swipe_icon.svg");
    background-size: contain;
}
.separator_button_f{
    width: 70px;
    height: 70px;
    top: 750px;
    background-image: url("../_img/swipe_icon.svg");
    background-size: contain;
}
.separator_line{
    width: 8px;
    height: 1080px;
    left: 31px;
    background-color: #03A2BF;
}
.home_mask {
    clip: rect(0px, 960px, 1080px, 0px);
}
.f1_mask {
    clip: rect(0px, 499px, 1080px, 0px);
}
.f2_mask {
    clip: rect(0px, 499px, 1080px, 0px);
}

/*///////////////////////////////////////////////////////HOTSPOTS*/

.hotspot, .hotspot_f {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
}
.hotspot_f.feature-1-hs {
    top: 620px;
    left: auto;
    right: 685px;
	visibility: hidden;
}
.hotspot_f.feature-2-hs {
    top: 590px;
    left: auto;
    right: 535px;
	visibility: hidden;
}
.hotspot_f.feature-3-hs {
    top: 525px;
    left: auto;
    right: 470px;
	visibility: hidden;
}
.hotspot_f.feature-4-hs {
    top: 525px;
    left: auto;
    right: 300px;
	visibility: hidden;
}

.hotspot > svg, .hotspot_f > svg {
    position: absolute;
    pointer-events: none;
}

.hs-pulse {
    top: -30px;
    left: -30px;
}
