.app-navigation-container {
	position: absolute;
	width: 1920px;
	height: 80px;
	bottom: 0;
	display: flex;
}

.button {
	height: 80px;
	flex-direction: row;
	box-sizing: border-box;
	flex-grow: 1;
	background-color: rgba(211, 213, 213, 0.8);
	display: flex;
	justify-content: center;
	overflow:  hidden;
	transition: all 0.5s linear;
}

.button img {
	width: 26px;
	height: 26px;
	display: inline-block;
	margin: 0 12px -6px 0;
	pointer-events: none;
}

.button span {
	font-size: 19px;
	align-self: center;
	transition: all 0.5s linear;
	pointer-events: none;
	float: left;
}
.button span span {
	float: right;
	margin-top: 3px;
}

.nav-btn-home {
	flex-grow: 0;
	width: 112px;
	background-color: #595e62;
	opacity: 0.8;	
}

.nav-btn-autoplay {
	flex-grow: 0;
	width: 210px;
	background-color: #1f2227;
	opacity: 0.8;
	border-right: 1px solid black;
}

.nav-btn-language {
	flex-grow: 0;
	width: 113px;
	background-color: #1f2227;
	opacity: 0.8;
}

.nav-btn-home > img {
	width: 112px;
	height: 80px;
	margin: 0;
	display:  block;
}

.nav-btn-autoplay span {
	color: #FFF;
	pointer-events: all;
}

.nav-btn-language span {
	color: #FFF;
	pointer-events: all;
}

.underline {
	padding-bottom: 3px;
	margin-top: 3px;
	border-bottom: 1px solid #FFF;
}

/* button active state */

.button.active {
	background-color: rgba(255, 255, 255, 0.95);
	transition: all 0.3s linear;
}

.button.active span {
	color: #ff0009;
	transition: all 0.3s linear;
}
.lightFont{
	font-weight: 200;
	letter-spacing: 2px;
}